<div class="w-full border-gray-200 border-b bg-white py-4 px-6 flex mb-12 items-center gap-4 min-[1440px]:px-[5rem]">
  <a href="/" class="rounded-full hover:bg-gray-100 p-2 hover:outline outline-gray-200 size-10">
    <img
      alt="{{ site.name | default: '' }}"
      src="{{ site.logo | default: '' }}"
      class="h-full w-auto"
    />
  </a>
  <div class="relative">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="lucide lucide-search absolute top-1/2 left-2 transform -translate-y-1/2 text-gray-400 dark:text-gray-500 size-5"
    >
      <circle cx="11" cy="11" r="8" />
      <path d="m21 21-4.3-4.3"/>
    </svg>

    <input
      type="text"
      placeholder="{{ locales.header.search }}"
      class="w-full pl-8 appearance-none rounded-md border px-2.5 py-1.5 outline-none transition sm:text-sm border-transparent dark:border-gray-800 text-gray-900 dark:text-gray-50 placeholder-gray-400 dark:placeholder-gray-500 bg-gray-100 dark:bg-gray-950 disabled:border-gray-300 disabled:bg-gray-100 disabled:text-gray-400 disabled:dark:border-gray-700 disabled:dark:bg-gray-800 disabled:dark:text-gray-500 aria-[invalid=true]:dark:ring-red-400/20 aria-[invalid=true]:ring-2 aria-[invalid=true]:ring-red-200 aria-[invalid=true]:border-red-500 invalid:ring-2 invalid:ring-red-200 invalid:border-red-500 [&::--webkit-search-cancel-button]:hidden [&::-webkit-search-cancel-button]:hidden [&::-webkit-search-decoration]:hidden focus:ring-1 focus:outline-0 focus:border-stone-500 focus:ring-stone-500"
    />
  </div>

  <div class="flex ml-auto mr-0 items-center gap-4">
    <div class="py-1.5 px-4 flex items-center gap-1 hover:outline outline-gray-200 hover:bg-gray-100 rounded-full cursor-pointer">
      {{ locales.header.topics }}

      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-chevron-down"
      >
        <path d="m6 9 6 6 6-6"/>
      </svg>
    </div>

    <div class="py-1.5 px-4 hover:outline outline-gray-200 hover:bg-gray-100 rounded-full cursor-pointer">
      {{ locales.general.help }}
    </div>
  </div>
</div>
